body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:227px;
  top:25px;
  width:104px;
  height:27px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:21px;
  top:30px;
  width:189px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:80px;
  width:724px;
  height:423px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:423px;
}
#u7 {
  position:absolute;
  left:2px;
  top:204px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:22px;
  top:80px;
  width:724px;
  height:423px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:423px;
}
#u9 {
  position:absolute;
  left:2px;
  top:204px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:51px;
  top:325px;
  width:484px;
  height:109px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:109px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:514px;
  width:233px;
  height:136px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u13 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:266px;
  top:514px;
  width:233px;
  height:136px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u15 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:511px;
  top:514px;
  width:233px;
  height:136px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:41px;
  top:539px;
  width:138px;
  height:72px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#97A1AE;
  line-height:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:72px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:287px;
  top:563px;
  width:160px;
  height:49px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:49px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:528px;
  top:539px;
  width:196px;
  height:72px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:72px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:754px;
  top:80px;
  width:233px;
  height:136px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u25 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:770px;
  top:105px;
  width:147px;
  height:72px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#00C8FF;
  line-height:36px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:72px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:754px;
  top:225px;
  width:233px;
  height:136px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u29 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:768px;
  top:258px;
  width:211px;
  height:72px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#00C8FF;
  line-height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:72px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:754px;
  top:370px;
  width:233px;
  height:136px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u33 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:770px;
  top:411px;
  width:82px;
  height:36px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#00C8FF;
  line-height:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:754px;
  top:514px;
  width:233px;
  height:136px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:136px;
}
#u37 {
  position:absolute;
  left:2px;
  top:60px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:770px;
  top:539px;
  width:185px;
  height:72px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:72px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:997px;
  top:80px;
  width:261px;
  height:570px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:570px;
}
#u41 {
  position:absolute;
  left:2px;
  top:277px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1012px;
  top:145px;
  width:230px;
  height:494px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:494px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1015px;
  top:95px;
  width:112px;
  height:36px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
